.search-suggestions {
	width: 300px;
	max-height: 200px;
	overflow-y: auto;
	border: 1px solid #6a6a6a;
	position: absolute;
	display: none;
	z-index: 999999999;
}
.search-suggestions a {
	display: block !important;
	padding: 1%;
    background-color: #efefef;
    color: #000;
	font-size: 20px;
	border-bottom: 1px solid #6a6a6a;
}
.search-suggestions a:hover {
    color: #FFFFFF;
    background-color: #7dcaf1;
	text-decoration: none;
}
.search-suggestions a span {
	color: #bfbfbf;
}
.highlighted {
	background-color: #378FBC !important;
	color: #ffffff !important;
}
.delete-history {
	padding: 2px !important;
	background-color: #ff7979 !important;
	color: #ffffff !important;
	font-size: 16px !important;
	text-align: center;
}

.delete-history:hover {
	background-color: #ff3333 !important;
}